<h1>Welcome to Fast Math's forum. Here you'll be able to ask and see questions from other learners!</h1>

<h3>Comments made by users</h3>
<ul>
<% @comments.each do |comment| %>
    <li><a href="/comments/<%= comment.id %>"><%= comment.name %></a></li>
<% end %>
</ul>

<h3>Post a new comment here</h3>
<a href=/comments/new_comment>New Comment Form</a> <br>



<a href="/hub">Fast Math Hub</a> <br>