<h1>Comment Page</h1>

<h2><%= @comment.name %></h2>

<ol>
<% @comment.pages.each do |thing|%>
        <li><%= thing.word %></li>
<%end%>
</ol>

<ol>
    <%if current_user.id == @comment.user.id %>
    <form method="POST" action="/comments/<%=@comment.id%>" >
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Comment">
    </form>

    <form method="GET" action="/comments/<%=@comment.id%>/edit" >
    <input type="submit" value="Edit Comment">
    </form>

    <% end %>
</ol>
<h2>Back to Comments Section</h2>
<a href="/comments">User Comment Forum</a> <br>
<h2>Back to hub</h2>
<a href="/hub">Fast Math Hub</a> <br>



