<h1>Addition</h1>

<p1> Addition is the process of adding individual numbers together to get a new number. <br> 
It is one of the fundemental functions of math, others include subtraction, multiplication, and division. <br>
We denote that addition function with a "+" sign between two numbers. <br>
Example: 2 + 2 = ? <br>
To solve this example we can start from 2, and count up by 2. <br>
Example: 2 &rarr; 3 &rarr; 4 or 2 + 2 = 4 <br>
We can even add any amount of numbers together. <br>
Example: 1 + 2 + 3 = ? <br>
First we'll solve this by the counting technique. <br>
Start at 1 we count up by 2: 1 &rarr; 2 &rarr; 3 <br>
Then from 3 we count up by 3: 3 &rarr; 4 &rarr; 5 &rarr; 6 <br>
So, 1 + 2 + 3 = 6 <br>
Great job! The more you practice the quicker you'll become. <br>
Use the links below to select some addition tables for practice! <br> <br>
If you believe you've mastered addition the next suggested lesson is Subtraction <br>
</p1>
<h2>Next lesson</h2>
<a href="http://127.0.0.1:9394/lessons/subtraction">The Basics of Subtraction</a> <br>
<h2>Back to hub</h2>
<a href="http://127.0.0.1:9394/hub">Fast Math Hub</a> <br>

