<h1>Division</h1>
<p1>
Congratulations on reachinng it this far! Here we'll cover our final topic: Division. <br>
Division can be thought of as the opposite of multiplication. <br>
Similar to last section, we're going to use a group model to aid us. <br>
The symbol for division is: "&divide;". <br>
Also similar to multiplication we have special cases when dividing by 0 and 1. How would we <br>
see this problem in terms of our group analogy? <br>
10 &divide; 2 = ? <br>
We have a group of 10, and we want to split that SINGLE group of 10 into an unkwown amount <br>
groups of 2? So let's do our counting method to figure out how many groups of 2 we'll get. <br>
0 &rarr; 2 &rarr; 4 &rarr; 6 &rarr; 8 &rarr; 10 <br>
How many steps did that take? It took us 5 steps to get from 0 to 10! Count the arrows if you're unsure <br>
That means we'll have 5 groups of 2! <br>
10 &divide; 2 = 5 <br>
Here's another example: <br>
9 &divide; 3 = ? <br>
0 &rarr; 3 &rarr; 6 &rarr; 9 <br>
Count the arrows <br>
9 &divide; 3 = 3 <br> <br>
Now let's cover our special cases starting with 1. If we wanted to split a group by 1 <br>
we'd get that same number. <br>
5 &divide; 1 = ? <br>
0 &rarr; 1 &rarr; 2 &rarr; 3 &rarr; 4 &rarr; 5 <br>
Count the arrows <br>
5 &rarr; 1 = 5 Try it on your own! <br> <br>
Like multiplication, 0 is unique. If we wanted to split a group by nothing, how <br>
would we do that? Your first guess may be that it's the same number just like <br>
with 1. But that doesn't work since we know that 0 &ne; 1. (This symbol: "&ne;" is the not equal sign) <br>
So what does it equal? For simplicity, we can't divide any number by 0. It is undefined. <br>
8 &divide; 0 = ? <br>
8 &divide; 0 = undefined <br>
Now that we know we can't divide by 0 what happens if we try to divide 0 by something? See the example below <br>
0 &divide; 4 = ? <br>
Using a group technique we have a group of nothing and we want to divide that nothing <br>
by 4. Our counting technique won't work here, but we can think about this <br>
in plain English. We want to split nothing 4 ways. So let's do that we can have 4 groups of nothing! <br>
Our 4 groups of nothing = 0 + 0 + 0 + 0 <br>
Which equals 0 <br>
So, 0 &divide; 4 = 0 <br>
Let's do another problem to reinforce the idea. <br>
0 &divide; 10 = ? <br>
Our 10 groups of nothing = 0 + 0 + 0 + 0 + 0 + 0 + 0 + 0 + 0 + 0 <br>
Which equals 0 <br>
So, 0 &divide; 10 = 0. <br> <br>
To recap we know two things when dividing with 0. <br>
1. You can't divide with 0 <br>
2. Any number 0 is divided by will equal 0 <br> <br>
The last tidbit we'll cover with division is much simpler than <br>
with zero. When we divide any number by that same number what do we get? Example below<br>
4 &divide; 4 = ? <br>
Using our counting technique: 0 &rarr; 4 <br>
Count the arrows: 1 <br>
4 &divide; 4 = 1 <br>
There we have it! Any number divided by itself will equal 1! <br> <br>
Division is quite a bit more complicated than the other 3 operations! But with practice, and <br>
diligence you'll be multiplying, and dividing like it's no big deal. <br>
Congratulations on completing these four lessons! Mastering addition, subtraction <br>
multiplication, and division is essential for understanding more complicated math! <br> 
Keep training, and again congratulations! You did it! &#9786; <br>
</p1>
<h2>Back to hub</h2>
<a href="/hub">Fast Math Hub</a> <br>