<h1>Multiplication</h1>
<p1> 
We can think of multiplication as advanced addition. <br>
2 + 2 + 2 = 6 we know that from our addition section. <br>
With multiplication we can write that as 2 &times; 3. The "&times;" represents our multiplication operator. <br>
We have 3 groups of 2 or 2 + 2 + 2. <br> <br>

Multiplication has a some interesting rules we need to abide by. <br>
Sticking with our groups analogy, what would 2 &times; 1 = ? <br>
Well we have either 2 groups of 1, or we have 1 group of 2. <br>
Both groups equal the same quantity of 2, but it's easier to think of it as 1 group of two. <br>
What can we derive from this example? <br>
We now know that any number multiplied by 1 will be equal to that number. <br> 
6371823 &times; 1 = 6371823 <br> <br>
The second unique property is mulplication by 0. <br>
0 is a special number. We could have an entire section and more on 0, but for now <br> 
we should know that it represents the value of nothing. So how does 0 work with <br>
multiplication? <br>
If we use our group analogy again, 2 &times; 0 could be thought of as 2 groups of nothing, or no groups of 2 <br>
That's right! Any number multiplied by 0 is 0! <br>
6371823 &times; 0 = 0 <br>
So now that we've handled our special cases of multiplication, we can move to <br>
the general idea which we started this section with. <br>
Example: 2 &times; 4 <br>
Using our grouping technique we have 2 groups of 4 or 4 groups of 2 <br>
4 + 4 = ? <br>
or <br>
2 + 2 + 2 + 2 <br>
We can now use our counting technique to solve this problem. <br>
Starting at 4 &rarr; 5 &rarr; 6 &rarr; 7 &rarr; 8 <br>
Starting at 2 &rarr; 3 &rarr; 4 &rarr; 5 &rarr; 6 &rarr; 7 &rarr; 8 <br>
So 2 &times; 4 = 8 <br>
The best way to get more fluid with your multiplication skills is to drill it. <br>
Below are links to multiplication tables for numbers 1 - 10. Test yourself everyday to see your improvement! <br>
Once you feel comfortable with multiplication we'll move to our final lesson <br>
of the fundemental mathematical operators: division! <br>
</p1>
<h2>Next lesson</h2>
<a href="http://127.0.0.1:9394/lessons/division">The Basics of Division</a> <br>
<h2>Back to hub</h2>
<a href="http://127.0.0.1:9394/hub">Fast Math Hub</a> <br>

