<h1>Subtraction</h1>
<p1>Subtraction is the second basic math operator. We can think of it as the opposite of addition. <br>
Instead of combining two numbers we'll be taking away from one number by another. <br>
The symbol for subtraction is "-". <br>
We can solve subtraction problems with the counting technique we learned in the addition section. <br>
Example: 5 - 2 = ? <br>
Let's start at 5 since it is on the right. We'll be counting down by 2 instead of up. <br>
5 &rarr; 4 &rarr; 3 <br>
So, 5 - 2 =  3 <br>
Similar to addition, we can subtract as many numbers as we'd like to. <br>
Example: 8 - 3 - 2 = ? <br>
We can break this down into two separate problems, so it's easier. Let's do 8 - 3 first! <br>
8 - 3 = ? <br>
8 &rarr; 7 &rarr; 6  &rarr; 5 <br>
So, 8 - 3 = 5 <br>
Now we can do 5 - 2 = ? <br>
5  &rarr; 4  &rarr; 3 <br>
So, 5 - 2 = 3. <br>
That means 8 - 3 - 2 = 3 <br>
Great job completing this lesson! Use the links below to select some addition tables for practice! <br>
If you believe you've mastered addition the next suggested lesson is multiplication. <br>
</p1>
<h2>Next lesson</h2>
<a href="http://127.0.0.1:9394/lessons/multiplication">The Basics of Multiplication</a> <br>
<h2>Back to hub</h2>
<a href="http://127.0.0.1:9394/hub">Fast Math Hub</a> <br>