<h1>Welcome to the Fast Math Hub <%= %></h1> <br>
<h2>Here you'll find links to lessons, and problem tables for you to work on!</h2> <br>
<h2>Lessons</h2>
<a href="http://127.0.0.1:9394/lessons/addition">The Basics of Addition</a> <br>
<a href="http://127.0.0.1:9394/lessons/subtraction">The Basics of Subtraction</a> <br>
<a href="http://127.0.0.1:9394/lessons/multiplication">The Basics of Multiplication</a> <br>
<a href="http://127.0.0.1:9394/lessons/division">The Basics of Division</a> <br>

<h2>Practice Tables</h2>
<a href="http://127.0.0.1:9394/problem_tables/addition_tables/addition_table_1">Addition Problem Table</a> <br>
<a href="http://127.0.0.1:9394/problem_tables/subtraction_tables/subtraction_table_1">Subtraction Problem Table</a> <br>
<a href="http://127.0.0.1:9394/problem_tables/multiplication_tables/multiplication_table_1">Multiplication Problem Table</a> <br>
<a href="http://127.0.0.1:9394/problem_tables/division_tables/division_table_1">Division Problem Table</a> <br>

<h2>View comments other users have posted</h2>
<a href="http://127.0.0.1:9394/comments">User Comment Forum</a> <br>


<h1><%= params[:user]%></h1>

<h5>Logout here when you're ready</h5>
<form method="POST" action="/logout">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Logout">
</form>

